body{
    margin: 0px;
    font-family: sans-serif;
}
#contactid{
    color: darkgray;
    text-align: center;
}
#listid ol{
    color: darkgray;
    list-style: none;
    margin: 0;
    padding: 0;
}  

#listid li{
    text-align: center;
}

